#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.fileManager {
  width: 20%;
  background-color: #202020;

  padding: 1em;
  overflow-y: auto;
  overflow-x: auto;

  min-height: 0;
}

.fileManager::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #303030;
}

.fileManager::-webkit-scrollbar {
  width: 12px;
  background-color: #101010;
}

.fileManager::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #101010;
}

.fileManager > * {
  min-height: 0;
}

.chatArea {
  display: flex;
  flex: 1;

  width: 80%;
  height: 100%;

  margin-left: 0.5em;

  overflow: hidden;
}

.dropzone {
  justify-self: center;
  align-self: center;
  width: 100%;

  .information {
    justify-self: center;
    align-self: center;
    padding-bottom: 1em;
    color: white;
    font-weight: 300;
  }
}
